@import 'variable';
@import 'normalize';

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font: 16px "Raleway", sans-serif;
	letter-spacing: 1px;
}

img {
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

.container {
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
}
@import 'header';
@import 'features';
